/* 

Template: Real State Website
Author: Shuvo Mallick
Description: Real State Template
Version: 1.0.0
Keywords: real state, Template, bootstrap template etc. 

*/

/* =========== CSS FILE INDEX =========== */
/* ----- Utilities CSS ----- */
/* ----- Style CSS ----- */
/* ----- Responsive CSS ----- */
/* =========== CSS FILE INDEX =========== */

/* ===== STYLE INDEX ===== */
/* 
  1. Header Section
  2. Hero/Banner Section
  3. Category Section
  10. Footer Section
  */
/* ===== STYLE INDEX ===== */

/* =================== NEXT CSS FILE =================== */
/* ===== VENDOR CSS ===== */
/* =================== NEXT CSS FILE =================== */

/* ===== IMPORT CSS FILE ===== */
@import './utilities.css';
@import './responsive.css';
/* ===== IMPORT CSS FILE ===== */

/* ===== BANNER START ===== */
body {
  background-color: var(--bs-gray-200);
}

.banner {
  border-radius: 10px 10px 0 0;
}

.banner img {
  width: 100%;
}

.banner .info {
  font-family: 'Russo One', sans-serif;
  margin-right: 15px;
}

.banner .info p {
  font-weight: 400 !important;
  font-size: 18px;
}

.banner .info h2 {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 48px;
  line-height: 58px;
}
/* ===== BANNER END ===== */

/* ===== START===== */
.input-todo {
  border-radius: 0 0 10px 10px;
}

.input-todo .form-control {
  padding: 10px 12px;
  gap: 10px;
  background-color: var(--bs-gray-200);
  box-shadow: none;
}

.btn {
  padding: 10px 40px;
  background: #20eeb0;
  border-radius: 5px;
  border: #19d49c;
}

.btn:hover {
  padding: 10px 40px;
  background: #19d49c !important;
  border-radius: 5px;
  border: #19d49c;
}

.todoLists .icons {
  cursor: pointer;
}

.todoLists h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.todoLists p {
  font-weight: 400;
  font-size: 14px;
}

.actionIcons i,
input {
  cursor: pointer;
  /* transform: scale(0); */
}

.actionIcons i:hover,
input[type='checkbox']:hover {
  transform: scale(1.15);
  transition: all 300ms ease;
}

.actionIcons input.checkbox {
  width: 20px;
}

/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== START===== */
/* ===== END===== */

/* ===== FOOTER START===== */
/* ===== FOOTER END===== */
